body {
    margin : 0;

}

#logo {
    color: rgb(0, 128, 0);
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 3%;
    font-family: cursive;
    text-decoration: none;

}

.header {
    height : 55px;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#cart-booking {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    margin-right: 5%;
}

#cart {
    margin-right : 50%;
    text-decoration: none;
    color : black;
}


#booking {
    
    text-decoration: none;
    color: black;
}


/* --------------------------------Container---------------------------------------------------- */

#container {
    background-color: #F0F0F0;
    height: 100vh;
    min-height : 100vh;
    display : flex;
    flex-direction : column;
    align-items: center;
    justify-self: center;
    justify-content : center;
}

#results {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;

    height: 20%;
    width: 70%;
   

    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

